# Question 1

Consider the following Python module:


a = 0

def b():
    global a
    a = c(a) 
    
def c(a):
    return a + 2

In [2]:

a=0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [3]:
b()
b()
b()

a

6

Initally, the value of "a" has been declared to 0. 

When Function "b" was called and with the help of "Global" keyword in it, the value of "a" has been modified by passing it down to function "c". Now, the function "c" returns the value of "a" as 2.

When function "b" was called again, the value of "a" will be incremented to 4 with the same process as above.

Again after calling the function "b", the value of "a" will be changed to 6 and the value was printed as 6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

fileLength('midterm.py')

fileLength('idterm.py')

In [33]:
def file_length(file_name):
    
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("The file \"{}\" that you have requested is not found!!".format(file_name))

In [34]:
file_length("Lorem Ipsum.txt")

445

In [35]:
file_length("Lorm Ipsum.txt")

The file "Lorm Ipsum.txt" that you have requested is not found!!

# Question 3

Write a class named Marsupial that can be used as shown below:

>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()


['doll', 'firetruck', 'kitten']
 
 
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: 

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, 

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and 

c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)

â€ƒI am a Kangaroo located at coordinates (0,0)
 
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()

['doll', 'firetruck', 'kitten']
 
 
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)

I am a Kangaroo located at coordinates (3,0)

In [42]:
class Marsupial:
    def __init__(self):
        self.pouchitem_list=[]
    
    def put_in_pouch(self,item):
        self.pouchitem_list.append(item)
    
    def pouch_contents(self):
        return self.pouchitem_list

In [43]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [95]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
        
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
        
    def __str__(self):
        return("I am a Kangaroo located at coordinates ({0},{1})".format(self.x,self.y))

In [96]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [97]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [98]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4:

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
      3ð‘¥+1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘


Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [2]:
def collatz(x):
    
    if int(x)>0:
    
        if x!=1:
            print(int(x))
            if x%2==0:
                x=x/2
            else:
                x=(3*x+1)

            collatz(x)
        else:
            print(1)
    else:
        print("Please feed the positive integer!!")

In [34]:
collatz(1)

1

In [8]:

collatz(7)

7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [8]:
def binary(n):
    
    if int(n)>=0:
    
        if n > 1:
            binary(n // 2)

        print(n % 2, end = '')
    else:
        print("Please feed the positive integer!!")

In [9]:
binary(1)

1

In [14]:
binary(0)

0

In [11]:
binary(3)

11

In [12]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [96]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.tag = '' 
        
    def handle_starttag(self, tag, attrs):
        self.tag = tag

    def handle_data(self, header):
        if self.tag == 'h1':
            print(header, end='')
        elif self.tag == 'h2':
            print(' '+header, end='')
        elif self.tag == 'h3':
            print(' '+header, end='')

In [97]:
infile = open('w3c.txt',"r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	 Principles

# Question 7 

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [99]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser
class Collector(HTMLParser):
    

    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        
        return self.links

In [100]:
from html.parser import HTMLParser

def analyze(url):
    
    if len(visited) ==1:
        print(url)           # for testing

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links


    return urls

In [101]:
visited= set() # initialize visited to an empty set

def webdir(url,depth):
   
    first_url=url
    global visited     
    visited.add(url)
    links = analyze(url)
    for link in links:

        if link not in visited:
            try:                
                if len(visited) <= depth:

                    if len(visited) <= (depth-1):
                        print( (depth-1)*'\t',link)
                    print( depth*'\t',link)
                webdir(link,depth)                
            except:
                pass

In [102]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2)

http://reed.cs.depaul.edu/lperkovic/one.html
	 http://reed.cs.depaul.edu/lperkovic/two.html
		 http://reed.cs.depaul.edu/lperkovic/two.html
		 http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [43]:
%reload_ext sql  #SQL was already loaded
%sql sqlite://

In [44]:
%%sql 
Create table weather(
    city varchar(30),
    country varchar(30),
    season varchar(20),
    temprature float,
    rainfall float
)

 * sqlite://
Done.

[]

In [45]:
%%sql
INSERT INTO weather VALUES
('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.8,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346.0 ),
('London','United Kingdom','Winter',4.2,207.7 ),
('London','United Kingdom','Spring',8.3,169.6 ),
('London','United Kingdom','Summer', 15.7,157.0),
('London','United Kingdom','Fall', 10.4,218.5),
('Cairo','Egypt','Winter', 13.6,16.5),
('Cairo','Egypt','Spring', 20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall', 22.2,4.5)

 * sqlite://
12 rows affected.

[]

In [50]:
#a.

%%sql
select temprature from weather;

 * sqlite://
Done.

[(24.8,),
 (28.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [51]:
#b.

%%sql
select distinct city from weather

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [55]:
#c.

%%sql
select * from weather where upper(country)="INDIA"

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [56]:
#d.

%%sql
select * from weather where upper(season)="FALL"

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [57]:
#e.

%%sql
select city,country,season from weather where rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [81]:
#f.

%%sql
select city,country,season from weather group by city,country,season 
having avg(temprature)>20 and season="Fall" 
order by temprature ASC

 * sqlite://
Done.

[('Cairo', 'Egypt', 'Fall'), ('Mumbai', 'India', 'Fall')]

In [79]:
#g.

%%sql
select sum(Rainfall) as Annual_Rainfall from weather where City="Cairo"

 * sqlite://
Done.

[(27.6,)]

In [80]:
#h.

%%sql
select season, round(sum(Rainfall),2) as Total_Rainfall from weather group by season

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [84]:
phrases=['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [88]:
#a.

print([phrase.upper() for phrase in phrases])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [89]:
#b.
print([phrase.lower() for phrase in phrases])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [90]:
#c.

print([len(phrase) for phrase in phrases])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [91]:
#d.

print([(phrase.upper(),phrase.lower(),len(phrase)) for phrase in phrases])

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [93]:
#e.

print([phrase for phrase in phrases if len(phrase)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']